main .wrapper .mainContainer .guessContainer{
    .doesNotContainLetter{
        background-color: tomato;
    }
    
    .containsLetter{
        background-color:goldenrod;
    }
    
    .correctLetter{
        background-color:lightgreen;
    }
    .disabledLetter{
        color:black;
        background-color: gray;
    }
}

main .wrapper .mainContainer .letterContainer{
    .letterTrue{
        color:black;
        background-color: gold;
    }
    .letterFalse{
        color:grey;
        background-color: black;
    }
}

.hiddenElement{
    display:none;
}